:root {
    --main-color: #fcf5fb;
    --header-color: #ffe48e ;
    --color2: #cbffd9;
    --color3: #c0cfff;
    --font-color: #000000;
    --box-shadow-color: #000000;
    --box-shadow-offset: 4px;
}
