{% extends 'base.html' %}

{% block head %}
    <title>Computer Vision Showroom</title>
    <script src="scripts/base.js" defer></script>
{% endblock %}

{% block body %}
    <h1>Computer Vision Showroom</h1>
    <hr>

    <div>
        <label for="show-original-cb">Show original image?</label>
        <input type="checkbox" id="show-original-cb" onchange="update_image()" checked>

        <label for="use-bw-images-cb">Change image to black and white?</label>
        <input type="checkbox" id="use-bw-images-cb" onchange="update_image()">
    </div>

    <div>
    <span>
        <label for="image-selector">Image:</label>
        <select name="image-selector" id="image-selector" onchange="update_image()">
            {% for image in images %}
                <option value="{{ image }}">{{ image }}</option>
            {% endfor %}
        </select>
    </span>
        <span>
        <label for="noise-selector">Noise:</label>
        <select name="noise-selector" id="noise-selector" onchange="update_image()">
            {% for noise in noises %}
                <option value="{{ noise }}">{{ noise }}</option>
            {% endfor %}
        </select>
    </span>
        <span>
        <label for="filter-selector">Filter:</label>
        <select name="filter-selector" id="filter-selector" onchange="update_image()">
            {% for filter in filters %}
                <option value="{{ filter }}">{{ filter }}</option>
            {% endfor %}
        </select>
    </span>
    </div>
    <div>
        <span>
            <img id="image" src="" style="">
        </span>
        <span>
            <img id="filtered" src="">
        </span>
    </div>
{% endblock %}