@import "fonts.css";


* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 3vw;
}

header {
    background-color: #FFC300;
    padding: 3pt 0;
    box-shadow: 4px 4px 0 0 #000000;
    font-family: "RobotoSlab", liberation_sans, sans-serif;
    font-weight: 300;
}

main {
    font-family: "Roboto", liberation_sans, sans-serif;
}

img {
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 75vh;
    box-shadow: 4px 4px 0 0 #000000;
    margin-top: 5vh;
}

main {
    margin: 5%;
}

div {
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
}