body {
    text-align: center;
    margin: 5% 10%;
}

body img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 75vh;
}

hr {
    margin-bottom: 1.5em;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

div {
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
}